<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - StudentsWebApplication - <a asp-area="" asp-controller="Students" asp-action="Index">Студенты</a>
    </div>
</footer>